@import '../../styles/vars.scss';

.modal-wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.509);
  display: flex;
}

.modal {
  z-index: 1000;
  border-radius: 45px;
  margin: auto;
  width: 80%;
  height: 80%;
  background: $lightTransparent;
  padding: 45px;
}
