@import '/src/styles/vars.scss';
@import '/src/styles/mixins.scss';

.header-wrapper {
  position: absolute;
  width: 100%;
  height: $headerHight;
  display: flex;
  background-color: rgba($background, 0.95);
  backdrop-filter: blur(4px);

  .header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 1100px;

    @include lg() {
      width: 900px;
    }

    @include md() {
      width: 700px;
    }

    @include sm() {
      width: 90%;
    }

    .item {
      flex: 1;
      text-align: center;

      & > * {
        margin: 0 auto;
      }
    }
  }
}
