@import '/src/styles/mixins.scss';
@import '/src/styles/vars.scss';

.menu-item {
  flex-basis: calc(100% / 6);
  text-align: center;
  opacity: 0;
  animation: ani 300ms forwards;
  margin: 10px 0;

  @include lg() {
    flex-basis: calc(100% / 5);
  }
  @include md() {
    flex-basis: calc(100% / 4);
  }
  @include sm() {
    flex-basis: calc(100% / 3);
  }
  @include xs() {
    flex-basis: calc(100% / 2);
  }
  .icon {
    display: flex;
    margin: auto;
    padding: 5px;
    border-radius: 30%;
    box-shadow: 0 0 15px $gray;
    justify-content: center;
    align-items: center;

    &:active {
      background: $gray;
    }
  }
  .title {
    margin-top: 10px;
    font-size: 16px;
  }

  @keyframes ani {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  * {
    color: black;
  }
}
