@import '/src/styles/mixins.scss';
@import '/src/styles/vars.scss';

.menu-item {
  width: 100px;
  * {
    color: black;
  }
  .icon {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 30%;
    box-shadow: 0 0 15px $gray;
    &:active {
      background: $gray;
    }
  }
  .title {
    font-size: 16px;
  }
}
